<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



    <link rel="stylesheet" href="style.css">
</head>
<body style="">
    
    <nav class="nav-bar">
        <div>
            <h1> PORTFOLIO</h1>
        </div>
        <div>
            <ul>
                <li>
                    <a href="" class="buttons active">Home</a>
                </li>
                <li>
                    <a href="" class="buttons" id="contact-btn">Contacts</a>
                </li>
                <li>
                    <a href="" class="buttons">Projects</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- home section -->
    <section id="home" class="section">
        <div class="home-section">
                <div class="info-container">
                    <div class="info about-me">
                        <h2>Hello, I'm Kyle 👋</h2>
                        <p>
                            I'm a passionate web developer specializing in Django and modern web technologies. 
                            I enjoy building clean, efficient, and scalable applications.
                        </p>
                    </div>


                    <div class="info contacts" style="display: ;">
                        <h2>Contacts</h2>
                        <ul>
                            <li>facebook</li>
                            <li>instagram</li>
                        </ul>
                    </div>
                </div>
                <div class="profile-img">
                    <img src="img1.jpg" alt="My Photo">
                </div>
            </div>
     </section>
    

    <section id="projects" class="section">

    </section>

    

    <script src="scripts.js"></script>
</body>
</html>